;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[com.thheller/shadow-grove "0.2.0"]]

 ;; default server on 8080 for some reason doesn't find results file
 ;; http://localhost:8001/webdriver-ts-results/table.html this works
 :dev-http
 {8001 "../../../"}

 :builds
 {:full
  {:target :browser
   :output-dir "dist"
   :asset-path "dist"
   :compiler-options {:output-feature-set :es8}
   :modules {:main {:init-fn bench.full/init}}}

  :full-interpreted
  {:target :browser
   :output-dir "dist"
   :asset-path "dist"
   :compiler-options {:output-feature-set :es8}
   :modules {:main {:init-fn bench.full-interpreted/init}}}

  :light
  {:target :browser
   :output-dir "dist"
   :asset-path "dist"
   :compiler-options {:output-feature-set :es8}
   :modules {:main {:init-fn bench.light/init}}}
  }}
