;; shadow-cljs configuration
{:deps
 {:aliases [:dev]}

 :builds
 {:full
  {:target :browser
   :output-dir "dist"
   :asset-path "dist"
   :modules {:main {:init-fn bench.full/init}}}

  :ops
  {:target :browser
   :output-dir "dist"
   :asset-path "dist"
   :modules {:main {:init-fn bench.operators/init}}}

  :light
  {:target :browser
   :output-dir "dist"
   :asset-path "dist"
   :modules {:main {:init-fn bench.light/init}}}

  :ultralight
  {:target :browser
   :output-dir "dist"
   :asset-path "dist"
   :modules {:main {:init-fn bench.ultralight/init}}}

  :ultralight-interpreted
  {:target :browser
   :output-dir "dist"
   :asset-path "dist"
   ;; :compiler-options {:shadow-optimize-constants true}
   :modules {:main {:init-fn bench.ultralight-interpreted/init}}}
  }}
